* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #f0f3ff;
}
.header {
  border: 1px solid;
  padding: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: auto;
}
.search {
  flex-basis: 50%;
  position: relative;
  text-align: left;
  z-index: 9999;
}
.search input[type="search"] {
  border: 1px solid #ffffff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1rem;
  outline: none;
  font-size: 16px;
  transition: 0.3s ease;
  width: 60%;
  background-color: #ffffff !important;
}
.search .submit {
  background-color: #ffffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #ffffff;
  padding: 1rem;
  font-size: 16px;
  margin-left: -5px;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 1;
}
.search .submit:hover {
  background-color: #785964;
  border: 1px solid #785964;
  color: white;
  opacity: 0.8;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-left: 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}
.citycontent {
  flex-basis: 50%;
  position: relative;
  z-index: 9999;
  text-align: right;
}
.citycontent h4 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 1rem;
}
.citycontent p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-top: 10px;
}
.weathercard {
  height: auto;
  padding: 2rem;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  padding: 0;
}
.today {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 1rem 2rem 2rem 2rem;
  flex-basis: 50%;
}
img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}
.now {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nowleft,
.nowright {
  flex-basis: 50%;
}
.now .nowleft .nowicon {
  margin-bottom: 0px;
}
.now .nowleft h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #785964;
}
.now .nowleft h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.now .nowleft p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.now .nowright {
  text-align: right;
}
.now .nowright h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #785964;
}
.now .nowright .maxmintemp {
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.now .nowright .uv,
.now .nowright .winddirection {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #454545;
  padding: 0.5rem 0 0 0;
}
.foreheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem 0 0 0;
  transition: 0.3s ease;
}
.forecastcard h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.foreheader .foreicon {
  background-color: #ffffff;
  border: 1px solid #454545;
  border-radius: 50%;
  color: #454545;
  padding: 10px 12px 10px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
}
.foreheader .foreicon:hover {
  opacity: 0.8;
  background-color: #785964;
  border: 1px solid #785964;
  color: #ffffff;
}
.forecast {
  display: flex;
  flex-wrap: wrap;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 200px;
  opacity: 1;
  padding: 2rem 0 0 0;
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
}

.forecast.show {
  max-height: 0;
  opacity: 0;
}
.day1,
.day2,
.day3 {
  flex-basis: 33.33%;
}
.forecast h1 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #785964;
}
.forecast h4 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.forecast p {
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.moredetail {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  border-radius: 25px;
  margin: 0 0 0 1rem;
}
.feelslike,
.humidity,
.wind,
.sunrise,
.sunset,
.airquality {
  flex-basis: 32%;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 2rem;
  border-radius: 25px;
  background-color: #ffffff;
  margin: 0 0.5rem 1rem 0;
}
.feelslike .img,
.humidity .img,
.wind .img,
.sunrise .img,
.sunset .img,
.airquality .img {
  transform: translateY(10px);
}
.feelslike img,
.humidity img,
.wind img,
.sunrise img,
.sunset img,
.airquality img {
  width: 40px;
  height: 40px;
}
.feelslike h1,
.humidity h1,
.wind h1,
.sunrise h1,
.sunset h1,
.airquality h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #785964;
  padding-left: 20px;
}
.feelslike p,
.humidity p,
.wind p,
.sunrise p,
.sunset p,
.airquality p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #454545;
  padding-left: 20px;
}
.footer {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
}
.footer p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #454545;
}

@media only screen and (max-width: 1500px) {
  .moredetail {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    border-radius: 25px;
    margin: 0 0rem 0 1rem;
  }
  .today {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 1rem 2rem 2rem 2rem;
    flex-basis: 50%;
  }
  .feelslike,
  .humidity,
  .wind,
  .sunrise,
  .sunset,
  .airquality {
    flex-basis: 48%;
    padding: 1rem;
    margin: 0 0.5rem 1rem 0;
  }
  .feelslike h1,
  .humidity h1,
  .wind h1,
  .sunrise h1,
  .sunset h1,
  .airquality h1 {
    font-size: 22px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #785964;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .weathercard {
    height: auto;
  }
  .moredetail {
    flex-basis: 50%;
    margin: 0 0.5rem 0 1rem;
    flex-direction: row;
  }
  .today {
    padding: 1rem 2rem 2rem 2rem;
    flex-basis: 50%;
  }
  .feelslike,
  .humidity,
  .wind,
  .sunrise,
  .sunset,
  .airquality {
    flex-basis: 48%;
    padding: 1rem;
    margin: 0 0rem 1rem 0.5rem;
  }
  .footer {
    padding: 2rem 0rem 0 0rem;
    position: relative;
  }
}
@media only screen and (max-width: 991px) {
  .weathercard {
    height: auto;
  }
  .container {
    flex-direction: column;
  }
  .today {
    padding: 1rem 2rem 2rem 2rem;
    flex-basis: 100%;
    width: 100%;
  }
  .moredetail {
    flex-basis: 100%;
    margin: 1rem 0rem 0rem 0rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .feelslike,
  .humidity,
  .wind,
  .sunrise,
  .sunset,
  .airquality {
    flex-basis: 32%;
    padding: 1rem;
    margin: 0 0.5rem 0.5rem 0;
  }
  .forecast {
    width: 100%;
    margin: 0rem 0 0 0;
    border-radius: 25px;
  }
}
@media only screen and (max-width: 700px) {
  .search {
    text-align: left;
    z-index: 9999;
  }
  .search input[type="search"] {
    padding: 1rem;
    width: 70%;
  }
  .citycontent {
    width: 100%;
    text-align: right;
  }
  .feelslike,
  .humidity,
  .wind,
  .sunrise,
  .sunset,
  .airquality {
    flex-basis: 48%;
    padding: 1rem;
    margin: 0 0.5rem 1rem 0;
  }
  .footer {
    padding: 3rem 2rem 0 2rem;
    position: relative;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    padding: 1rem;
    height: auto;
    flex-direction: column-reverse;
  }
  .search {
    text-align: left;
    z-index: 9999;
    width: auto;
    padding-block: 1rem;
  }
  .search input[type="search"] {
    padding: 1rem;
    width: auto;
    flex-basis: 100%;
  }
  .citycontent {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
  }
  .weathercard {
    padding: 0.5rem;
  }
  .now {
    flex-direction: row;
  }
  .nowleft,
  .nowright {
    flex-basis: 50%;
  }
  .now .nowright {
    text-align: right;
  }
  .now .nowright h1 {
    font-size: 36px;
  }
  .now .nowright .maxmintemp {
    font-size: 18px;
  }
  .forecastcard h1 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #454545;
  }
  .foreheader .foreicon {
    background-color: #ffffff;
    border: 1px solid #454545;
    border-radius: 50%;
    color: #454545;
    padding: 8px 10px 8px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;
  }
  .forecast {
    max-height: 650px;
  }
  .day1,
  .day2,
  .day3 {
    flex-basis: 100%;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 430px) {
  .feelslike,
  .humidity,
  .wind,
  .sunrise,
  .sunset,
  .airquality {
    flex-basis: 100%;
    padding: 1rem;
    margin: 0 0.5rem 1rem 0;
  }
  .now {
    flex-direction: row-reverse;
  }
  .nowleft,
  .nowright {
    flex-basis: 50%;
  }
  .now .nowright {
    text-align: left;
  }
  .now .nowleft {
    margin-top: -7px;
    text-align: right;
  }
}
@media only screen and (max-height : 700px) {
  .footer{
    bottom: -2rem;
  }
}